:root{
--primary-color: #f2ca52;
--secundary-color:#05000d;
--background: #f1f1f1

}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: var(--primary-color);
  transition: all .4s ease-in-out;
}